<header class="header">
    <div class="container header__top">
        <a class="brand" href="?route=accueil">
            <img
                class="brand__logo-img"
                src="assets/images/MyInternship_Logo.svg"
                alt="Logo MyInternship"
            >
        </a>

        {% include 'base/barre-navigation.html.twig' %}

        <div class="header__actions">
            <a class="btn btn--primary btn--account" href="?route=connexion">
                <span class="btn__icon" aria-hidden="true">
                    <svg viewBox="0 0 24 24" role="img" focusable="false">
                        <path d="M12 12.25a4.25 4.25 0 1 0-4.25-4.25A4.25 4.25 0 0 0 12 12.25Zm0 2.25c-4.26 0-7.75 2.24-7.75 5v.5a1 1 0 0 0 1 1h13.5a1 1 0 0 0 1-1v-.5c0-2.76-3.49-5-7.75-5Z" fill="currentColor"/>
                    </svg>
                </span>
                <span>Connexion</span>
            </a>
        </div>
    </div>
</header>
