{% extends "navbar.html.twig" %}
{% block footer %}
<footer class="footer" id="aide">
    <div class="container footer__grid">
        <div>
            <div class="footer__brand">MyInternship</div>
            <p class="muted">Plateforme de gestion d’offres de stages.</p>
        </div>

        <div class="footer__links">
            <a class="link" href="../mentions-legales.html.twig">Mentions légales</a>
            <a class="link" href="#">Politique de confidentialité</a>
            <a class="link" href="#">Contact</a>
        </div>
    </div>
</footer>
{% endblock %}