<header class="header">
    <div class="container header__top">
        <a class="brand" href="?route=home">
            <img
                class="brand__logo-img"
                src="assets/images/MyInternship_Logo.svg"
                alt="Logo MyInternship"
            >
            <div class="brand__text">
                <div class="brand__name">MyInternship Jobs</div>
                <div class="brand__tagline">Recherche de stages</div>
            </div>
        </a>

        <nav class="header__actions">
            <a class="link" href="?route=mentions_legales">Mentions legales</a>
            <a class="btn btn--primary" href="?route=connexion">Connexion</a>
        </nav>
    </div>
</header>
