<nav class="container nav" aria-label="Navigation principale">
    <a class="nav__link" href="?route=home">Accueil</a>
    <a class="nav__link" href="?route=internships">Offres</a>
    <a class="nav__link" href="?route=entreprises">Entreprises</a>
    <a class="nav__link" href="?route=connexion">Connexion</a>
    <a class="nav__link" href="?route=mentions_legales">Mentions legales</a>
</nav>
