{% extends "footer.html.twig" %}

<main>
    <h1>[Nom] - Fiche d'entreprise</h1>
    <h3>Siège social : </h3>
    <p>Description...</p>
    <p>Nombre de stagiaires pris : , Nombre de stagiaires recherchés : , Note de l'entreprise : </p>
    <h2>Contact</h2>
    <p>Email : </p>
    <p>Numéro de Téléphone : </p>
    <h2>Liste des offres de stages proposées : </h2>
<!--Nombre limité d'offres affiché, lien "voir plus" vers la page de recherche avec le filtre de l'entreprise-->
</main>
