{% extends "base/layout.html.twig" %}

{% block pageTitle %}
    <title>Rechercher des entreprises - MyInternship</title>
{% endblock %}

{% block main %}
    <form action="/?" method="get">
        {% for i in 1..50 %} {# // temporary#}
            <label>{{ i }}</label>
            <input name="numNewPage" type="hidden" value="{{ i }}">
        {% endfor %}
    </form>
{% endblock %}